body {
  background-color: #FFF;
  margin: 0 auto;
}

.navigation {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;

}

.navigation a {
    background:
    border:
    border-radius:
    color:
    display: inline-block;
    margin:
    padding:
}

.navigation a:hover {
    color: #DBE9EE;
}

#about {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}

#about .content {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}

#projects {

}

#projects .content {

}

#skills {

}

#skills .content {

}

h1 {
    color:
    font-family: 'Oswald', sans-serif;
    font-size:
}

h2 {
    color:
    font-family: 'Oswald', sans-serif;
    font-size:
}

p {
    color:
    font-family: 'Oswald', sans-serif;
    font-size:
}

#footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 100px;
}
